body
{
	background-image:url('../img/light-tile.gif');
	background-repeat:repeat;
}

.company_pic
{
	float:left;
}

.company
{
	display:block;
	height:200px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

h1
{
	font-family:Georgia, Serif;
	font-size:3em;
	margin-bottom:40px;
}

.company h2
{
	font-family:"Century Gothic", Sans-Serif;
	font-size:2em;
}

.company h3
{
	font-family:"Century Gothic", Sans-Serif;
	font-size:2em;
}

.neutralPrice
{
	color:#000000;
}

.lowerPrice
{
	color:#BB0000;
}

.higherPrice
{
	color:#00AA00;
}