body
{
	margin:0px;
	padding:0px;
}

/* The page title */
h1
{
	font-family:'Copse', 'Georgia', Serif;
	font-size:3em;
	color:#FEFEFE;
	vertical-align:bottom;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0.9em;
	padding-bottom:0px;
	display:block;
	height:100px;
	background-image:url('../img/banner.png');
	background-repeat:repeat-x;
}

/* The container that holds all of the companies */
#companies
{
	margin-left:auto;
	margin-right:auto;
}

/* The faded line to separate companies */
.fade_line
{
	margin:0px;
	padding:0px;
	background-image:url('../img/fade_line.png');
	background-repeat:repeat-x;
	display:block;
	height:10px;
}

/* Each individual company row */
.company
{
	display:block;
	height:150px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:3px;
	margin-bottom:5px;
}

/* Everything in the company divs except the chart */
.inner_company
{
	display:block;
	width:500px;
	height:150px;
	float:left;
}

/* The company icon */
.company_pic
{
	float:left;
	margin-right:15px;
}

/* All of the chart divs */
.chart
{
	display:block;
	width:400px; 
	height:150px;
	float:right;
}

/* The company name */
.company h2
{
	font-family:"Century Gothic", Sans-Serif;
	font-size:2em;
	margin-top:0px;
}

/* The company price */
.company h3
{
	font-family:"Century Gothic", Sans-Serif;
	margin-bottom:0px;
	margin-top:0.5em;
	font-size:4em;
}

/* Styling of a price that hasn't gone up or down */
.neutral_price
{
	color:#000000;
}

/* Styling of a price that just dropped */
.lower_price
{
	color:#BB0000;
}

/* Styling of a price that just rose */
.higher_price
{
	color:#00AA00;
}